In [1]:
import turicreate

In [2]:
sf=turicreate.SFrame('people_wiki.sframe/')

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [4]:
sf['word_count']=turicreate.text_analytics.count_words(sf['text'])

In [6]:
sf['tfidf']=turicreate.text_analytics.tf_idf(sf['word_count'])

In [8]:
john=sf[sf['name']=="Elton John"]

In [9]:
john

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'movements': 1.0, 'social... | {'movements': 5.0306580197... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [16]:
johntable=john[['word_count']].stack('word_count',new_column_name=['word',"count"]).sort('count',ascending=False)

In [17]:
johntable

Columns:
	word	str
	count	float

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |  27.0 |
|   in  |  18.0 |
|  and  |  15.0 |
|   of  |  13.0 |
|   a   |  10.0 |
|  has  |  9.0  |
|   he  |  7.0  |
|  john |  7.0  |
|   on  |  6.0  |
| award |  5.0  |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [18]:
johnidf=john[['tfidf']].stack('tfidf',new_column_name=['word',"count"]).sort('count',ascending=False)

In [19]:
johnidf

Columns:
	word	str
	count	float

Rows: 255

Data:
+---------------+--------------------+
|      word     |       count        |
+---------------+--------------------+
|    furnish    | 18.38947183999428  |
|     elton     | 17.482320270031995 |
|   billboard   | 17.30368095754203  |
|      john     | 13.93931279239831  |
|  songwriters  | 11.250406447031539 |
|  overallelton | 10.986495389225194 |
| tonightcandle | 10.986495389225194 |
|   fivedecade  | 10.293348208665249 |
|    19702000   | 10.293348208665249 |
|      aids     | 10.262846934045534 |
+---------------+--------------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [20]:
vct=sf[sf["name"]=="Victoria Beckham"]

In [21]:
vct

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------------+
|              URI              |       name       |
+-------------------------------+------------------+
| <http://dbpedia.org/resour... | Victoria Beckham |
+-------------------------------+------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| victoria caroline beckham ... | {'week': 1.0, 'york': 1.0,... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'week': 3.57252509903475,... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [22]:
paul=sf[sf["name"]=="Paul McCartney"]

In [23]:
paul

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | Paul McCartney |
+-------------------------------+----------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| sir james paul mccartney m... | {'children': 1.0, 'five': ... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'children': 2.42528531239... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [25]:
turicreate.distances.cosine(vct['tfidf'][0],john['tfidf'][0])

0.9567006376655429

In [26]:
turicreate.distances.cosine(paul['tfidf'][0],john['tfidf'][0])

0.8250310029221779

In [27]:
wordknn=turicreate.nearest_neighbors.create(sf,features=['word_count'],label='name')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [28]:
tfknn=turicreate.nearest_neighbors.create(sf,features=['tfidf'],label='name')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [29]:
wordknn.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.416ms     |

| Done         |         | 100         | 432.306ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+--------------------+------+
| query_label | reference_label |      distance      | rank |
+-------------+-----------------+--------------------+------+
|      0      |    Elton John   |        0.0         |  1   |
|      0      |   Phil Collins  | 0.7639902676399026 |  2   |
|      0      |   Rod Stewart   | 0.7733333333333333 |  3   |
|      0      |   Annie Lennox  | 0.7766233766233767 |  4   |
|      0      |    Barry Gibb   | 0.780952380952381  |  5   |
+-------------+-----------------+--------------------+------+
[5 rows x 4 columns]

In [30]:
tfknn.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 12.677ms     |

| Done         |         | 100         | 298.92ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+--------------------+------+
| query_label | reference_label |      distance      | rank |
+-------------+-----------------+--------------------+------+
|      0      |    Elton John   |        0.0         |  1   |
|      0      |   Phil Collins  | 0.7639902676399026 |  2   |
|      0      |   Rod Stewart   | 0.7733333333333333 |  3   |
|      0      |   Annie Lennox  | 0.7766233766233767 |  4   |
|      0      |    Barry Gibb   | 0.780952380952381  |  5   |
+-------------+-----------------+--------------------+------+
[5 rows x 4 columns]

In [32]:
wordknn.query(vct)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 20.375ms     |

| Done         |         | 100         | 299.975ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      | Victoria Beckham |        0.0         |  1   |
|      0      |   Cheryl Cole    | 0.8005865102639296 |  2   |
|      0      |    Heidi Klum    | 0.8103448275862069 |  3   |
|      0      |   Simon Fuller   | 0.822742474916388  |  4   |
|      0      |      Adele       | 0.8249158249158249 |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [33]:
tfknn.query(vct)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 13.616ms     |

| Done         |         | 100         | 287.263ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      | Victoria Beckham |        0.0         |  1   |
|      0      |   Cheryl Cole    | 0.8005865102639296 |  2   |
|      0      |    Heidi Klum    | 0.8103448275862069 |  3   |
|      0      |   Simon Fuller   | 0.822742474916388  |  4   |
|      0      |      Adele       | 0.8249158249158249 |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]